{% extends 'base.html' %} {% block content %}

<h2 align="center">Listado de Detalle de Expensa </h2>

<br>
<table class="default" border="3" align="center">


    <tr>

        <th>Edificio</th>

        <th>Departamento</th>

        <th>Total Deuda</th>

    </tr>



    <tr>
        <td>
            {{expensas.ph_dpto}}
        </td>
        <td>
            {{expensas.porcentaja_departamento}}
        </td>
        <td>
            {{expensas.total_gastos}}
        </td>
        <td>
            {{expensas.get_total_gastos}}
        </td>



        <td>
            <a href="{% url 'editar_expensa' expensas.id %}" class="btn btn-info"><button>Editar</button></a>
        </td>



    </tr>
</table>

{% endblock %}