{% extends 'base.html' %} {% block content %}

<h2>Listado de Expensas </h2>


<table class="default">
    {% for expensa in expensas %}
    <tr>
        <td>
            <a href="#">{{expensa.edificio_expensa}}</a>
        </td>
        <td>
            <a href="#">{{expensa.id}}</a>
        </td>
        <td>
            <a href="#">{{expensa.create_date}}</a>
        </td>
        <td>
            <a href="{% url 'editar_expensa' expensa.id %}">
                <button type="submit">Editar</button>
            </a>
        </td>
        <td>
            <a href="{% url 'detalle_expensa' expensa.id %}">
                <button type="submit">Ver Detalle</button>
            </a>
        </td>
        <td>
            <a href="{% url 'expensa_pdf' expensa.id %}">
                <button type="submit">Ver PDF</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'crear_expensa' %}">
    <button>Crear Expensa</button></a>
{% endblock %}